@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

:host{
    display: block;
    height: 600px;
    position: relative;
    width: 100%;
}
.gantt-chart{
    position: relative;
    width: 100%;
    height: 600px;
}