<div class="app-component-root">
  <div class="container-fluid top-panel">
    <div class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header row" style="width:100%">
            <div class="col-sm-1 pull left" style="padding-top: 20px;padding-left: 0px;">
              <a class="navbar-logo" title="initail" href="#">
                <img src="assets/bofa-logo.jpeg" style="width: 150px;">
              </a>
            </div>
            <div class="col-sm-2">
              <h2 class="active" style="color:white;font-size:25px;padding-left: 45px;"><a>Workflow Management</a></h2>
            </div>
            <div class="col-sm-7">
              <h2 class="active" style="color:white;font-size:25px;padding-left: 40px;"> </h2>
            </div>
            <div class="col-sm-2 pull right">
                <i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i>
              <span style="color:white; padding-left:5px;">John Doe</span>
            </div>


            <!-- <ul class="nav navbar-nav navbar-right">
          <li class="user-login dropdown pull-left">
              <a href (click)="false"><img src="assets/bofa-logo.jpeg" alt="no image" style="width: 150px;"></a>
          </li>
        </ul>         -->
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<app-nav-bar-top></app-nav-bar-top>


<router-outlet></router-outlet>