<div class="app-component-root">
  <div class="container-fluid top-panel">
<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-logo" title="initail" href="#">
          <div><img src="assets/bofa-logo.jpeg" style="width: 150px;"></div>
        </a>
        <ul class="nav navbar-nav">
          <li class="active" style="color:white;font-size:25px;"><a>Workflow Management</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li class="user-login dropdown pull-left">
              <a href (click)="false"><img src="assets/bofa-logo.jpeg" alt="no image" style="width: 150px;"></a>
          </li>
        </ul>         -->
      </div>
    </div>
  </nav>
</div>  </div>
</div>

<app-nav-bar-top></app-nav-bar-top>


<router-outlet></router-outlet>
