.app-component-root{
    .header{
        .nav-header{
            width:100%;
        }
        .navbar{
            background-color: #3db9d3;
            border-color:black;
        }
        // .navbar-default .navbar-nav > .active > a{
        //     border-radius:2px;
        //     box-shadow: 0 2px 2px 0 black ;
        // }
        // .navbar-logo{
        //     img{
        //         margin-left:15px;
        //     }
        // }
    }

}