.app-component-root{
    .top-panel{
        background-color: #17a2b8 !important;

    .header{
        .nav-header{
            width:100%;
        }
        .navbar{
            background-color:#17a2b8;;
            border-color:black;
        }
        // .navbar-default .navbar-nav > .active > a{
        //     border-radius:2px;
        //     box-shadow: 0 2px 2px 0 black ;
        // }
        // .navbar-logo{
        //     img{
        //         margin-left:15px;
        //     }
        // }
    }
    }
}