<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/create-runbook">Create Runbook</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"  href="/task-hierarchy">Task Hierarchy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"  href="/task-hierarchy">Runbook Config</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Tenants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">User Settings</a>
  </li>
</ul>